<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rahmouni.neil.counters">

    <application
        android:name=".CountersApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/manifest_appName"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.Counters"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="counters.page.link" android:scheme="http" android:pathPattern="/install.*"/>
                <data android:host="counters.page.link" android:scheme="https" android:pathPattern="/install.*"/>
            </intent-filter>
            <meta-data android:name="health_permissions"
                android:resource="@array/health_permissions" />
        </activity>
        <activity
            android:name=".counterActivity.CounterActivity"
            android:theme="@style/Theme.Counters">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters">
        </activity>
        <activity
            android:name=".settings.DataSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="counters.page.link" android:scheme="http" android:pathPattern="/dataAndPrivacy.*"/>
                <data android:host="counters.page.link" android:scheme="https" android:pathPattern="/dataAndPrivacy.*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".counter_card.activity.CardSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters">
        </activity>
        <activity
            android:name=".utils.feedback.FeedbackActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters">
        </activity>
        <activity
            android:name=".counter_card.activity.health_connect.HealthConnectSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters"></activity>
        <activity
            android:name=".counter_card.activity.health_connect.HealthConnectSetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
            <meta-data
                android:name="health_permissions"
                android:resource="@array/health_permissions" />
        </activity>
        <activity
            android:name=".counterActivity.CounterEntriesActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters"></activity>
        <activity
            android:name=".counterActivity.CounterSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Counters"></activity>
    </application>

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>